@import "@fontsource/sora/400.css";
@import "@fontsource/sora/500.css";
@import "@fontsource/sora/600.css";
@import "@fontsource/sora/700.css";
@import "@fontsource/sora/800.css";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
/* Sayfanın genel görünümü */
body {
  margin: 0;
  background-color: #050816;
  color: white;
  font-family: "Sora", sans-serif;
}
html {
  scroll-behavior: smooth;
}